#item-input-form {
  border-bottom: 1px solid lightgrey;
  display: flex;
  width: 480px;
  margin: 30px;
}

#item-input-form-text-input {
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-right: 1px solid lightgrey;
  outline: none;
  margin: 3px 0 0 0;
  padding: 6px;
  width: 15rem;
  font-size: 16px;
}

#item-input-form-submit {
  border: none;
  border-radius: 50%;
  background-color: #0085ff;
  outline: none;
  width: 2rem;
  height: 2rem;
  margin: 8px;
  color: white;
  font-size: 25px;
}

#item-input-form-submit:active {
  filter: brightness(90%);
  border-color: lightgrey;
}

.item-header-container {
  margin: 0 0 3px 0;
  display: flex;
  justify-content: space-between;
}

.list-item-input {
  border: none;
  background-color: rgb(255, 255, 255);
  width: 418px;
  outline: none;
  margin-bottom: 6px;
  padding: 6px;
  font-size: 14px;
}

.sub-list-item-input {
  border: none;
  background-color: rgb(255, 255, 255);
  width: 388px;
  outline: none;
  margin-top: 6px;
  padding: 6px;
  font-size: 14px;
}

.list-item-input:focus {
  border-bottom: 1px solid lightgrey;
  padding: 6px 6px 5px 6px;
}

.sub-list-item-input:focus {
  border-bottom: 1px solid lightgrey;
  padding: 6px 6px 5px 6px;
}

.list-item-edit-label-input {
  border: none;
  background-color: rgb(255, 255, 255);
  padding: 6px;
  width: 365px;
  outline: none;
  font-size: medium;
  font-weight: bold;
}

.list-item-edit-label-input:focus {
  border-bottom: 1px solid lightgrey;
  padding: 6px 6px 5px 6px;
}

.remove-button {
  border: none;
  border-radius: 5px;
  color: rgb(50, 50, 50);
  background-color: white;
  outline: none;
}

.edit-button {
  border: none;
  border-radius: 5px;
  color: rgb(50, 50, 50);
  background-color: white;
  outline: none;
}

.add-sub-item-button {
  border: none;
  border-radius: 5px;
  color: rgb(250, 250, 250);
  background-color: orange;
  outline: none;
  width: 24px;
}

.item-name {
  margin: 0px;
  padding: 3px 0 6px 0;
  font-size: medium;
  font-weight: bold;
  color: rgb(25, 25, 25);
}

.note {
  padding: 24px;
  margin-bottom: 2px;
  border: 1px solid lightgrey;
  border-radius: 5px;
}

.sub-checklist {
  margin: 0 0 6px 30px;

}

#progress-bar-container {
  width: 480px;
  margin: 0 0 30px 30px;
}

#progress-bar {
  border: 1px solid lightgrey;
  background-color: rgb(245, 245, 245);
  border-radius: 15px;
  display: flex;
  width: 30rem;
  height: 1rem;
}

.checkbox {
  margin-right: 6px;
}