#item-input-form {
  border-bottom: 2px solid lightgrey;
  display: flex;
  width: 480px;
  margin: 30px;
}

#item-input-form-text-input {
  border-top: none;
  border-left: none;
  border-bottom: none;
  border-right: 2px solid lightgrey;
  outline: none;
  margin: 5px;
  width: 15rem;
}

#item-input-form-submit {
  border: none;
  border-radius: 50%;
  background-color: cyan;
  outline: none;
  width: 2rem;
  height: 2rem;
  margin: 8px;
  color: white;
  font-size: 25px;
}

#item-input-form-submit:active {
  filter: brightness(90%);
  border-color: lightgrey;
}

.item-header-container {
  margin: 0 0 3px 0;
  display: flex;
}

.list-item-input {
  border: none;
  background-color: lightcyan;
  outline: none;
  margin: 5px 0;
}

.list-item-input:focus {
  background-color: lightskyblue;
}

.list-item-edit-label-input {
  border: none;
  background-color: lightcyan;
  outline: none;
  font-size: medium;
  font-weight: bold;
  height: 1rem;
}

.list-item-edit-label-input:focus {
  background-color: lightskyblue;
}

.list-item {
  margin: 0 10px 5px 10px;
  border-bottom: 1px solid lightgrey;
}

.remove-button {
  border: none;
  color: red;
  background-color: lightcyan;
  outline: none;
}

.edit-button {
  border: none;
  color: blue;
  background-color: lightcyan;
  outline: none;
}

.add-sub-item-button {
  border: none;
  color: orange;
  background-color: lightcyan;
  outline: none;
}

#note-content-submit-button:active {
  filter: brightness(90%);
}

.item-name {
  margin: 0 30px 0 0;
  font-size: medium;
  font-weight: bold;
  }

#overall-progress {
  margin: 0px;
}

.checklist {
  padding: 5px 0 5px 5px;
  margin-bottom: 2px;
  border-left: 15px solid blue;
}

.note {
  padding: 5px 0 5px 5px;
  margin-bottom: 2px;
  border-left: 15px solid blue;
}

.sub-checklist {
  margin: 0 0 0 30px;
}

#progress-bar-container {
  margin: 0 0 30px 30px;
}

#progress-bar {
  border: 2px solid darkgrey;
  background-color: lightgrey;
  border-radius: 15px;
  display: flex;
  width: 30rem;
  height: 1rem;
}